<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635107220608-tviuga8bhdl6fm60hcbr5n2cn3c13a5d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635107220608-tviuga8bhdl6fm60hcbr5n2cn3c13a5d</string>
	<key>API_KEY</key>
	<string>AIzaSyB4hXPmmzlUsAY5QP5Nzvgi3sK6TX3kGDY</string>
	<key>GCM_SENDER_ID</key>
	<string>635107220608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diamondApp</string>
	<key>PROJECT_ID</key>
	<string>diamondapp-942d6</string>
	<key>STORAGE_BUCKET</key>
	<string>diamondapp-942d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635107220608:ios:aafb20d6892888596ada65</string>
</dict>
</plist>